@model PostViewModel
@{
    ViewData["Title"] = "Profile";
}
@if (Model != null)
{
    <div class="showPost center" style="margin-top: 30px; font-family: Roboto; font-size: 14px;">
        <div id="image-post" style="float: left; max-width: 100%;"><img src="@Model.PictureView" id="img-post" /></div>
        <div style="float: left; margin-left: 30px;">
            <div style="width: 250px; height: 50px; margin-top: 0px; border-bottom: none;" class="comments">
                <p style="text-align: center; font-weight: bold;"><a href="@Model.User.Alias" style="text-decoration: none; color: black;">@Model.User.Alias</a></p>
            </div>
            <div id="comments" class="comments" style="width: 250px; min-height: 280px; max-height: 280px; overflow: scroll; overflow-x: hidden;">
                @foreach (var i in Model.Comments)
                {
                    <p class="comment-style"><a href="/@i.User.Alias" style="text-decoration: none; color: black;"><b>@i.User.Alias:</b></a> @i.Text</p>
                }
            </div>
            <div style="width: 250px; height: 50px; margin-top: 0px; border-top: none;" class="comments"></div>
            <div style="width: 250px; height: 50px; margin-top: 0px; border-top: none;" class="comments">
                <form id="post-comment" method="post" asp-controller="Post" asp-action="AddNewComment">
                    <input type="hidden" value="@Model.Id" name="postId" id="postId"/>
                    <input autocomplete="off" required id="comment-input" name="text" type="text" placeholder="Add a comment..." style="border: none; background-color: white; margin-top: 10px;" />
                    <input type="submit" hidden/>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <p>Not found</p>
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/post.js"></script>
}