@model PostViewModel
@{
    ViewData["Title"] = "Profile";
}
@if (Model != null)
{
    <div class="showPost center post-style-wrap" id="post">
        <div id="image-post"><img src="@Model.PictureView" id="img-post" /></div>
        <div class="post-comments-wrap">
            <div class="comments comments-top" id="post-info">
                <p class="post-title"><a href="/@Model.User.Alias">@Model.User.Alias</a></p>
                <p id="caption-text">@Model.Text</p>
                <p id="tags">
                    @foreach (var i in Model.Tags)
                    {
                    <span><a asp-controller="TagPost" asp-action="ShowPostsByTag" asp-route-text="@i.Text" style="text-decoration: none; color: blue;">#@i.Text</a></span>
                    }
                </p>
                @if (User.Identity.Name == Model.User.Name)
                {
                    <form id="post-owner-text" method="post" asp-controller="Post" asp-action="AddPostCaption">
                        <input type="hidden" value="@Model.Id" name="postId" id="post-text-id" />
                        <input class="post-input-style" autocomplete="off" id="post-input-text" name="caption" type="text" placeholder="Type caption here..." />
                        <input type="submit" hidden />
                    </form>
                    <form id="tag-form" method="post" asp-controller="Post" asp-action="AddPostTags">
                        <input type="hidden" value="@Model.Id" name="postId" id="post-id-tags" />
                        <input class="post-input-style" autocomplete="off" id="post-input-tags" name="tags" type="text" placeholder="Type tags here..." />
                        <input type="submit" hidden />
                    </form>
                }
            </div>
            <div id="comments" class="comments post-comments" >
                @if (Model.Comments.Count() == 0)
                {
                    <p>There are no comments yet.</p>
                }
                @foreach (var i in Model.Comments)
                {
                    <p class="comment-style"><a href="/@i.User.Alias"><b>@i.User.Alias:</b></a> @i.Text</p>
                }
            </div>
            <div class="comments post-info">
                @if (User.Identity.IsAuthenticated)
                {
                    <form id="post-like" method="post" asp-controller="Post" asp-action="Like">
                        <input type="hidden" value="@Model.Id" name="postId" id="post-like-id" />
                        @{
                            string src = "";
                        }
                        @if (ViewBag.LikeState == "Unlike")
                        {
                            src = "/images/heart-outline.png";
                        }
                        else if (ViewBag.LikeState == "Like")
                        {
                            src = "/images/favorite-heart-icon-png-23.png";
                        }
                        <img id="like-img" src="@src" width="15" height="15" />
                        <input type="submit" hidden />
                    </form>
                }
                <p class="post-like-info" id="num-of-likes">@Model.Likes.Count() likes</p>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.User.Name)
                {
                    <form id="delete-post" method="post" asp-controller="Profile" asp-action="DeletePost">
                        <input type="hidden" value="@Model.Id" name="postId" id="post-delete-id" />
                        <div style="margin-top: 8px;"><input type="submit" id="delete-post-button" value="Delete post" class="button-style" style="cursor: pointer;"/></div>
                    </form>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="comments comments-bottom">
                <form id="post-comment" method="post" asp-controller="Post" asp-action="AddNewComment">
                    <input type="hidden" value="@Model.Id" name="postId" id="postId"/>
                    <input class="post-input-style" autocomplete="off" required id="comment-input" name="text" type="text" placeholder="Add a comment..." />
                    <input type="submit" hidden/>
                </form>
            </div>
            }
        </div>
    </div>
}
else
{
    <p>Not found</p>
}
@section Scripts{
    <script src="~/js/post.js"></script>
}