@model PostViewModel
@{
    ViewData["Title"] = "Profile";
}
@if (Model != null)
{
    <div class="showPost center post-style-wrap">
        <div id="image-post"><img src="@Model.PictureView" id="img-post" /></div>
        <div class="post-comments-wrap">
            <div class="comments comments-top" id="post-info">
                <p class="post-title"><a href="/@Model.User.Alias">@Model.User.Alias</a></p>
                <p id="caption-text">@Model.Text</p>
                @if (User.Identity.Name == Model.User.Name)
                {
                    <form id="post-owner-text" method="post" asp-controller="Post" asp-action="AddPostCaption">
                        <input type="hidden" value="@Model.Id" name="post-text-id" id="post-text-id" />
                        <input class="post-input-style" autocomplete="off" required id="post-input-text" name="post-input-text" type="text" placeholder="Type something here..." />
                        <input type="submit" hidden />
                    </form>
                }
            </div>
            <div id="comments" class="comments post-comments" >
                @foreach (var i in Model.Comments)
                {
                    <p class="comment-style"><a href="/@i.User.Alias"><b>@i.User.Alias:</b></a> @i.Text</p>
                }
            </div>
            <div class="comments post-info">
                @if (User.Identity.IsAuthenticated)
                {
                <form id="post-like" method="post" asp-controller="Post" asp-action="Like">
                    <input type="hidden" value="@Model.Id" name="postId" id="post-like-id" />
                    @{
                        string src = "";
                    }
                    @if (ViewBag.LikeState == "Unlike")
                    {
                        src = "/images/heart-outline.png";
                    }
                    else if (ViewBag.LikeState == "Like")
                    {
                        src = "/images/favorite-heart-icon-png-23.png";
                    }
                    <img id="like-img" src="@src" width="15" height="15" />
                    <input type="submit" hidden />
                </form>
                }
                <p class="post-like-info" id="num-of-likes">@Model.Likes.Count() likes</p>
            </div>
            <div class="comments comments-bottom">
                <form id="post-comment" method="post" asp-controller="Post" asp-action="AddNewComment">
                    <input type="hidden" value="@Model.Id" name="postId" id="postId"/>
                    <input class="post-input-style" autocomplete="off" required id="comment-input" name="text" type="text" placeholder="Add a comment..." />
                    <input type="submit" hidden/>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <p>Not found</p>
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/post.js"></script>
}